#heading{
        text-align: center;
        font-size: 40px;
        color: red;
        background-color: black;
    }
#table{
    background-color:#009068 ;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 75%;

}
#thead{
    background-color: #808080;
}
.center{
    text-align: center;
}